{% extends "bar/main_template.html" %}


{% block content %}

<div class="container">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<form class="form-signin" method="post" action="{% url 'auth_view' %}">{% csrf_token %}
		<h2 class="form-signin-heading">Register</h2>
		<label for="name" class="sr-only">Name</label>
		<input type="text" id="name" name="name" class="form-control" placeholder="name" required autofocus>

		<label for="surname" class="sr-only">Surname</label>
		<input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required autofocus>

		<label for="username" class="sr-only">Username</label>
		<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
		<label for="reinputPassword" class="sr-only">Retype-Password</label>
		<input type="password" id="reinputPassword" name="re-password" class="form-control" placeholder="ReTypePassword" required>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Register in</button>
		</form>

	<div class="col-md-4">
	</div>
		</div> <!-- /container -->
<hr>
{{ path }}
{% endblock %}
