
		<!--JQuery
		<script src="https://students.cs.unipi.gr/~erasmus_site/new_site/config/js/jquery-2.1.4.min.js
		"></script>
		<!--JQuery UI
		<script src="https://students.cs.unipi.gr/~erasmus_site/new_site/config/js/jquery-ui.js"></script>
		
		<!-- Latest compiled and minified JavaScript 
		<script src="https://students.cs.unipi.gr/~erasmus_site/new_site/config/js/bootstrap.min.js" ></script>
-->
		<!--JQuery -->
		<script src="http://code.jquery.com/jquery-2.1.4.min.js
		"></script>
		<!--JQuery UI -->
		<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

